* {
  margin: 0;

}

body {
  min-width: 1250px;
}

p {
  font-size: 20px;
  padding: 5px;
  line-height: 30px;

}
li {
  font-size: 20px;
  padding: 5px;
  line-height: 30px;

}

hr {
  margin: 20px;
  color: black;
  border-width: 1px;
  border-style: solid;
  background-color: black;;

}
img {
  height: 250px;

}

.headerimgheight {
  height: 100px;

}

#colonytab {
  border: 2px solid black;
  border-collapse: collapse;

}

#SciClass {
  width: 40%;
  float: right;
  padding-bottom:10px;

}

#PhyAttributes {
  float: right;
  padding: 50px;
}

.tabh {
  border: 2px solid black;
  border-collapse: collapse;


}

.tabd {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: right;

}

.SectionTitle {
  padding: 20px;
  font-size: 30px;
  font-style: oblique;
  font-weight:normal;

}

.SectionTitle {


}

.mainbody {
  background-color: #bababa;
  padding-bottom: 50px;

}

.infopara {
  padding:50px;


}

.bodyother {
  width: 40%;

}

img[class] {
  border-radius: 10px;

}

a[href*=".org"] {
  color: black

}

div[class*="header"] {
  text-decoration: underline;

}

h2 + p {
  text-decoration: italic;

}

div img {
  border: 3px solid gold;

}

a:hover {
  color: purple;

}

td:hover {
  font-weight: bold;
  text-decoration: underline;
}

img:hover {
  border: 5px solid black;

}
